<header>
  <nav>
    <div align="left">
      <a mat-raised-button *ngFor="let item of menuItems" routerLink="{{item.link}}">
        {{item.name | uppercase}}
      </a>
    </div>
    <div id="today" class="text-center">
      <h1 ng-show="title || false" class="title">{{ title }}</h1>
    </div>
    <div align="right" class="text-right">
      <button mat-icon-button [matMenuTriggerFor]="matmenu">
        <mat-icon>public</mat-icon>
      </button>
      <mat-menu #matmenu="matMenu">
        <button mat-menu-item (click)="changeLanguage('en')">
          <mat-icon>flag</mat-icon>
          <span>English</span>
        </button>
        <button mat-menu-item (click)="changeLanguage('de')">
          <mat-icon>flag</mat-icon>
          <span>Deutsch</span>
        </button>
      </mat-menu>
    </div>
  </nav>
  <section class="progress-bar">
    <mat-progress-bar [color]="'primary'" [mode]="progressBarMode">
    </mat-progress-bar>
  </section>
</header>
